# docker-compose.yml
version: '3.8'

services:
  mongodb:
    image: mongo:6-jammy
    container_name: mongodb
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - llm_net

  mongo-express:
    image: mongo-express
    container_name: mongodb-express
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: example
    ports:
      - '27374:8081'
    depends_on:
      - mongodb
    restart: on-failure
    networks:
      - llm_net

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    networks:
      - llm_net

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama/models
    networks:
      - llm_net

  api:
    # build:
    #   context: .
    #   dockerfile: Dockerfile.celery
    image: trustvar-api
    container_name: api_backend
    command: python -m src.api.main
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://root:example@mongodb:27017
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - OLLAMA_BASE_URL=http://ollama:11434
      - HF_TOKEN=${HF_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
    depends_on:
      - mongodb
      - redis
      - ollama
    volumes:
      - hf_volume:/app/cache
      - ./src:/app/src
    networks:
      - llm_net

  streamlit:
    # build:
    #   context: .
    #   dockerfile: Dockerfile.streamlit
    image: trustvar-streamlit
    container_name: frontend
    restart: unless-stopped
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://api:8000
      - HF_TOKEN=${HF_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
    depends_on:
      - api
    volumes:
      - ./src:/app/src
    networks:
      - llm_net

  celery-worker:
    # build:
    #   context: .
    #   dockerfile: Dockerfile.celery
    image: trustvar-celery-worker
    container_name: celery_worker
    command: celery -A src.core.tasks.celery_app worker --max-tasks-per-child=1 --loglevel=info
    environment:
      - MONGODB_URL=mongodb://root:example@mongodb:27017
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - OLLAMA_BASE_URL=http://ollama:11434
      - HF_TOKEN=${HF_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
    depends_on:
      - mongodb
      - redis
      - ollama
    volumes:
      - ./src:/app/src
    networks:
      - llm_net

volumes:
  mongodb_data:
  ollama_models:
  hf_volume:


networks:
  llm_net:
    driver: bridge
