HF_TOKEN=hf_your_token_here
OPENAI_API_KEY=sk-your-key-here
OPENAI_BASE_URL=https://api.openai.com/v1
VLLM_BASE_URL=
LLAMACPP_BASE_URL=
FRONTEND_PORT=3000
OLLAMA_BASE_URL=http://ollama_service:11434
OLLAMA_KEEP_ALIVE=-1
OLLAMA_REQUIRE_GPU=false
OLLAMA_GPU_RETRY_ON_FALLBACK=false
OLLAMA_INFERENCE_TIMEOUT=3000
OLLAMA_PORT=11434
MONGODB_PORT=27017
REDIS_PORT=6379
API_PORT=8000
VITE_API_URL=http://localhost:3000
